#registration-form {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

body {
  background-color: rgba(143, 45, 45, 0.508);
  color: #ffffff;
  margin: 40px auto;
  width: 100%;
}

.person-icon::before {
  font-family: 'Material Symbols Outlined', sans-serif;
  content: "\e7fd";
  font-size: 50px;
  color: #e28e69;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .person-icon::before {
    font-size: 50px;
  }
}

@media (max-width: 313px) {
  .person-icon::before {
    font-size: 40px;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #474952c0;
}


.container:hover {
  background-color: #5458718c;
}

h1 {
  text-align: center;
  padding-left: 20px;
  text-decoration-color: #e28e69;
  background-image: linear-gradient(to right, #e28e69 10%, transparent 80%);
  background-position: 47px 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}
@media (max-width: 768px) {
  h1 {
    background-position: 30px 0;
  }
}

@media (max-width: 480px) {
  h1 {
    background-position: 20px 0;
  }
}
#form-1 {
  display: block;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

#consent {
  margin-left: 5px;
  vertical-align: middle;
}

#consent input[type="checkbox"] {
  border: 2px solid #e28e69;
  outline-color: #e28e69;
}

#consent input[type="checkbox"]:checked {
  background-color: #e28e69;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
}

button {
  width: 100%;
  background-color: #e28d6980;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  border-style: groove;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  font-size: 20px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d86e39;
}

#message {
  text-align: center;
  margin-top: 15px;
}

.success {
  color: #fad7a8;
}

.error {
  color: #ffb368f7;
}


@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 600px) {
  button {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .form-group {
    margin-bottom: 10px;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  body {
    background-color: rgba(143, 45, 45, 0.7);
  }
}

@media (max-width: 600px) {
  button:hover {
    background-color: #e28d69;
  }
}
